
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// App

//Index
@import "app/index";

//App
@import "app/app";

//login
@import "app/login";

// Accounts
@import "app/accounts/content";

// NEW DESIGN
// Home
@import "app/home/home";

// Шрифты
@import "landing/fonts";

body {
  //background: #282c37;
  color: #282c37;
  overflow-x: hidden;
  //font-family: WorkSans-Thin, serif;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
}

body::-webkit-scrollbar {
  width: 0.1px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #303540;
}

body:hover::-webkit-scrollbar-thumb {
  background: #9baec8;
}
//a {
//  cursor: pointer !important;
//}
//
//a:hover {
//  text-decoration: none !important;
//  //color: #9baec8 !important;
//}

// LANDING!

// Навигационное меню
@import "landing/land/nav_bar";

// Стили блока экрана
@import "landing/land/screen";