.login-auth_container {
  display: block;
  width: 35vw;
  height: 30vh;
  margin: 25vh auto auto auto;
  background: white;
  -moz-border-radius-topleft: 1vh;
  -moz-border-radius-topright: 1vh;
  box-shadow: 0 0 5px rgb(247, 247, 247);
  border: 1px black solid;
}

.login-auth_container a:hover {
  color: #9baec8;
}

.panel-heading {
  display: block;
  float: left;
  width: 100%;
  font-size: 2vh;
  border-bottom: 0.1vh solid #9baec8;
  margin-bottom: 5vh;
  background: black;
  color: white;
}

.meeh {
  font-weight: 100;
  margin-left: 0.7vw;
}