@font-face {
  font-family: Assistant-ExtraLight;
  src: url(../../../fonts/Assistant/Assistant-ExtraLight.ttf);
}

@font-face {
  font-family: WorkSans-ExtraLight;
  src: url(../../../fonts/WorkSans/WorkSans-ExtraLight.ttf);
}

//@font-face {
//  font-family: WorkSans-Thin;
//  src: url(../../../fonts/WorkSans/WorkSans-Thin.ttf);
//}