.land-header {
  height: 5.5vh;
  position: fixed;
  top: 0;
  z-index: 100;
}

.land-header-a {
  height: 4.5vh;
  font-size: 1.7vh;
  padding-top: 1.5vh;
  text-align: center;
  cursor: pointer;
  float: right;
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgba(255, 255, 255, 0.7);
}

.land-header-a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}