.screen-block {
  display: block;
  float: left;
  width: 100vw;
  height: 100vh;
  background-color: #cde1fd;
}

.screen-1 {
  border-bottom: 0.5vh rgba(40, 44, 55, 0.8) solid;
}

.screen-3, .screen-5{
  background: transparent !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen-2 {
  height: 37vw;
  background: rgb(40, 44, 55);
  border-bottom: 0.5vh rgba(205, 225, 253, 0.8) solid;
  color: #cde1fd;
}

.screen-2-content {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}

// Слайдер говна
.container {
  display: block;
  float: left;
  width: 22vw;
  margin: 7vw 7vw;
  max-width: 80%;
}

.shadow {
  box-shadow: 0 0.2vw 0.1vw rgba(195, 219, 233, 0.5);
}

.slick-slider {
  margin-left: -12%;
  margin-right: -12%;
}

.slick-list {
  padding: 10% 15% !important;
}

.slick-dots {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.slick-track {
  max-width: 100% !important;
  transform: translate3d(0, 0, 0) !important;
  perspective: 100px;
}

.slick-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  width: 100% !important;
  transform: translate3d(0, 0, 0);
  transition: transform 1s, opacity 1s;
  outline: none;
}

.slick-snext,
.slick-sprev {
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.slick-current {
  opacity: 1;
  position: relative;
  display: block;
  transform: translate3d(0, 0, 20px);
  z-index: 2;
  text-decoration: none;
}

.slick-snext {
  opacity: 1;
  transform: translate3d(20%, 0, 0px);
  z-index: 1;
}

.slick-sprev {
  opacity: 1;
  transform: translate3d(-20%, 0, 0px);
}

.slide-content {
  display: block;
  width: 100%;
  height: 17vw;
  text-decoration: none;
  -webkit-border-radius: 1vw;
  -moz-border-radius: 1vw;
  border-radius: 1vw;
}

// Конец слайдера говна

.screen-logo {
  display: block;
  position:absolute;
  bottom: -3vw;
  width: 6vw;
  height: 6vw;
  background: #cde1fd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0.5vh rgba(40, 44, 55, 0.8) solid;
  color: #282C37;
  left: 47vw;
  font-size: 3.5vw;
  text-align: center;
  font-family: Arial, Serif;
  cursor: grab;
}